
body {
    background-color: rgb(147, 198, 231);
    position: absolute;
}

h1 {
    text-align: center;
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info {
    line-height: 5px;
    margin: 100px 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info1 {
    line-height: 5px;
    margin: -445px 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    float: right;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 115px;
    margin-right: 150px;
}

hr {
    border: 1px solid black;
}

.experience {
    margin-left: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




    
